{% load static %}
<html>
<head>
	<title>Blog Students PB</title>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="{% static '/css/style.css' %}" type="text/css" media="all" />

	<link rel="shortcut icon" href="css/images/favicon.ico" />

</head>
<body>
<div class="shell">
	<div class="border">

		<div id="navigation">
			<ul>
			    <li><a href="/" class="active">Home</a></li>
			    <li><a href="/admin">My account</a></li>
                <li><a href="https://github.com/Vasiukhnevich/BlogStudentsPB">Git Hub Project</a></li>

			</ul>
		</div>

		<div id="main">
			<div id="content" class="left">

				<div class="projects">
					<h3>Articles</h3>
                    {% for post in posts %}
					<div class="aler alert-warning">
                        <h3>{{ post.title }}</h3>
                        <p>{{ post.anons }}</p>

					{% endfor %}
				</div>
			</div>

			<div class="cl"></div>
		</div>


	</div>

	<div id="footer">
		<p class="copy right">Project Blog Students PB &copy;  2024 </p>
	</div>
</div>
</body>
</html>